.table-container {
  width: 80%;
  margin: auto;
}

table {
  background-color: #ffffff; /* Change this to your desired table color */
}

tr:hover {
  background-color: #d9d9d9; /* Change this to your desired row hover color */
}

th.mat-sort-header-sorted {
  color: black;
}

h1 {
  text-align: center;
  padding-top: 20px;
}

.filter {
  width: 10%;
  margin: 15px auto;
}

/*tr.mat-header-cell {*/
/*  background-color: red;*/
/*}*/

/*tr {*/
/*  background-color: gray;*/
/*}*/


/*.mat-header-cell {*/
/*  background-color: red;*/
/*}*/
