<div class="table-container">
  <h1>List of websites</h1>
  <mat-form-field class="filter">
    <mat-label>Filter</mat-label>
    <mat-select (selectionChange)="applyFilter($event.value)">
      <mat-option value="">All</mat-option>
      <mat-option value="Por avaliar">Por avaliar</mat-option>
      <mat-option value="Em avaliação">Em avaliação</mat-option>
      <mat-option value="Avaliado">Avaliado</mat-option>
      <mat-option value="Erro na avaliação">Erro na avaliação</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="resetFilter()">Reset Filter</button>
  <table mat-table [dataSource]="websites" matSort>

    <!-- URL Column -->
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>URL</th>
      <td mat-cell *matCellDef="let website">{{website.url}}</td>
    </ng-container>

    <!-- Register Date Column -->
    <ng-container matColumnDef="registerDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Register Date</th>
      <td mat-cell *matCellDef="let website">{{website.registerDate | date}}</td>
    </ng-container>

    <!-- Last Evaluation Date Column -->
    <ng-container matColumnDef="lastEvalDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Evaluation Date</th>
      <td mat-cell *matCellDef="let website">{{website.lastEvalDate | date}}</td>
    </ng-container>

    <!-- Monitor State Column -->
    <ng-container matColumnDef="monitorState">
      <th mat-header-cell *matHeaderCellDef>Monitor State</th>
      <td mat-cell *matCellDef="let website">{{website.monitorState}}</td>
    </ng-container>

    <!-- Webpages Column -->
    <ng-container matColumnDef="webpages">
      <th mat-header-cell *matHeaderCellDef>Webpages</th>
      <td mat-cell *matCellDef="let website">
        <div *ngFor="let webpage of website.webpages">
          {{webpage.url}}
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
