<!--<h1>Add Website</h1>
<form [formGroup]="websiteForm" (ngSubmit)="addWebsite()">
  <div class="form-group">
    <label for="url">Website URL:</label>
    <input type="text" class="form-control" id="url" formControlName="url">
    <div *ngIf="websiteForm.get('url')?.invalid && websiteForm.get('url')?.touched" class="text-danger">
      <div *ngIf="websiteForm.get('url')?.errors?.['required']">
        Website URL is required
      </div>
      <div *ngIf="websiteForm.get('url')?.errors?.['pattern']">
        Please enter a valid URL (e.g., http://example.com)
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="websiteForm.invalid">Add Website</button>
</form>-->

<div class="center-container">
  <h1>Add Website</h1>
  <form [formGroup]="websiteForm" (ngSubmit)="addWebsite()">
    <mat-form-field appearance="fill">
      <mat-label>Website URL</mat-label>
      <input matInput type="text" id="url" formControlName="url">
      <mat-error *ngIf="websiteForm.get('url')?.invalid && websiteForm.get('url')?.touched">
        <div *ngIf="websiteForm.get('url')?.errors?.['required']">
          Website URL is required
        </div>
        <div *ngIf="websiteForm.get('url')?.errors?.['pattern']">
          Please enter a valid URL (e.g., http://example.com)
        </div>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="websiteForm.invalid">Submit</button>
  </form>
</div>
